@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bodoni+Moda&family=Bree+Serif&family=Leckerli+One&family=Maven+Pro&family=Merriweather&family=Monomaniac+One&family=Monoton&family=Montserrat&family=Noto+Serif&family=Pacifico&family=Quicksand&family=Roboto+Slab&family=Sacramento&family=Space+Grotesk&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

button {
    width: 15%;
    height: 50px;
    background-color: aqua;
    border: 1px black solid;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

#botoesValores {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#botoes {
    display: flex;
    gap: 2rem;
}

#valores {
    display: flex;
    gap: 2rem;
}