@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');

body {
    margin: 0;
    font-family: 'Bona Nova', serif;
    font-size: 1em;
    color: #143072;
    background-color: #c4d9f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 1%;
    background-image : url(../images/paperTexture.avif);
    background-size: cover;
    width: 60%;
    padding: 2% 5%;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

img {
    width: 70%;
    margin: 5% 15%;
}

@media (max-width: 576px) {
    body {
        font-size: 0.6em;
    }
    main {
        width: 100%;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 0.7em;
    }
    main {
        width: 90%;
    }
}

@media (max-width: 992px) {
    body {
        font-size: 0.8em;
    }
    main {
        width: 80%;
    }
}

@media (max-width: 1200px) {
    body {
        font-size: 0.9em;
    }
    main {
        width: 70%;
    }
}