@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #FFA500;
    --cor-hover: #DDDDDD;
    --fonte-primaria: 'Poppins', sans-serif;;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

#logo {
    width: 5rem;
}

#logo > img {
    filter: drop-shadow(0px 0px 5px var(--cor-terciaria));
}

.cabecalho {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
}

.cabecalho_menu ul {
    list-style: none;
    display: flex;
}

.cabecalho_menu a {
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

.cabecalho_menu a:hover{
    text-shadow: 0px 0px 5px var(--cor-terciaria);
}

.cabecalho_menu li {
    margin: 0 1rem;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 5% 5%;
}

.apresentacao_conteudo {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    gap: 2.5rem;
}

.apresentacao_conteudo_titulo {
    font-size: 2rem;
    font-family: var(--fonte-secundaria);
}

.destaque {
    color: var(--cor-terciaria);
}

.apresentacao_conteudo_texto {
    font: 1.2rem var(--fonte-primaria);
}

.apresentacao_links {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao_links_titulo {
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
}

.apresentacao_links_link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 20px 0;
    width: 50%;
    border: 2px solid var(--cor-terciaria);
    border-radius: 10px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
    font-weight: 700;
    transition: 0.3s;
}

.fa-brands {
    color: var(--cor-terciaria);
}

.apresentacao_imagem {
    width: 50%;
}

.apresentacao_imagem img {
    width: 100%;
    border-radius: 20px;
    transition: 0.3s;
}

.apresentacao_imagem img:hover, .apresentacao_links_link:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 20px var(--cor-terciaria);
}

.rodape {
    padding: 1.5rem;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-size: 1.3rem;
    font-family: var(--fonte-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .apresentacao {
        flex-direction: column-reverse;
    }

    .apresentacao_conteudo {
        width: auto;
    }
}