body.modo-claro {
  --cor-primaria: #005566;
  --cor-secundaria: #00556622;
  --cor-terciaria: #fefefe;
  --cor-concluida: #555;
  --bgcor-concluida: #888;
}

body.modo-escuro {
  --cor-primaria: #99eeff;
  --cor-secundaria: #99eeff77;
  --cor-terciaria: #111;
  --cor-concluida: #aaa;
  --bgcor-concluida: #ddd;
}

body {
  transition: 0.3s;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  background-color: var(--cor-terciaria);
}

#titulo {
  color: var(--cor-primaria);
}

#botao-adicionar {
  margin-left: 10px;
  padding: 17px;
  width: 20%;
  border-radius: 10px;
  border: 2px var(--cor-primaria) solid;
  font-size: 20px;
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
}

#campo-tarefa {
  padding: 16px;
  width: 60%;
  font-size: 20px;
  border-radius: 10px;
  border: 2px var(--cor-primaria) solid;
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
}

#campo-tarefa::placeholder {
    color: var(--cor-primaria);
}

#lista-tarefas {
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarefa {
  margin-top: 5px;
  padding: 10px;
  border: 2px solid var(--cor-primaria);
  border-radius: 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  width: 80%;
}

.concluida {
  text-decoration: line-through;
  color: var(--cor-concluida);
  background-color: var(--bgcor-concluida);
  border: 2px var(--cor-primaria) solid;
}

.botao-excluir {
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.botao-excluir:hover {
  cursor: pointer;
}

.tarefa:hover {
  cursor: pointer;
}

#botao-adicionar:hover {
    cursor: pointer;
}

#botao-modo {
  padding: 15px;
  border-radius: 10px;
  border: 2px var(--cor-primaria) solid;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
}